/*--------preview page--------*/

@keyframes appear{
  0%{
  opacity: 0;
  }

  100%{
  opacity: 1;
  }
}

@-moz-keyframes appear{
  0%{
  opacity: 0;
  }

  100%{
  opacity: 1;
  }
}

@-webkit-keyframes appear{
  0%{
  opacity: 0;
  }

  100%{
  opacity: 1;
  }
}

.preview-body{
  background: #fff;
}

.preview-body .top-bar .center{
  text-align: center;
}

.preview-body .top-bar img{
  animation: appear 1.4s ease-in 1 ;
  -moz-animation: appear 1.4s ease-in 1 ;
  -webkit-animation: appear 1.4s ease-in 1 ;
}

.preview-body div.logo{
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0;
}

section.preview {
  margin:0 auto;
  position:relative;
  width:100%;
  overflow: hidden;
  padding: 0;
}

section.preview #wrapper{
  width: 1002px;
  margin: 0 auto;
}

section.preview div.part{
  padding: 15px 0 240px;
  margin: 15px 0 0;
  width: 100%;
}

section.preview div.part div.container{
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0 0 45px;
  animation: appear 0.4s linear 1;
  -moz-animation: appear 0.4s linear 1;
  -webkit-animation: appear 0.4s linear 1;
}

section.preview div.part h2.title{
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  color: #433c3f;
  font-family: Trebuchet MS;
  padding: 0 0 20px 19px;
  clear: both;
  font-size: 18px;
  font-weight: bold;
}

section.preview div.part div.container a img{
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 1px #ccc;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 12px 1px #ccc;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 1px #ccc;
  margin: 0 0 7px;
}

section.preview div.part div.container a:hover img{
  border-radius: 5px;
  transition: 0.2s linear;
  box-shadow: 0px 0px 30px 5px #bcd4ff;
  -moz-border-radius: 5px;
  -moz-transition: 0.2s linear;
  -moz-box-shadow: 0px 0px 30px 5px #bcd4ff;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.2s linear;
  -webkit-box-shadow: 0px 0px 30px 5px #bcd4ff;
}

section.preview div.part div.container{
  padding: 0px 21px 20px;
  float: left;
  width: 101px;
  display: block;
  margin: 0 0 20px;
}

section.preview div.part div.container a{
  color: #999999;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  display: block;
  border: none;
  width: 100px;
  text-decoration: none;
}

section.preview div.part div.container a:hover{
  text-decoration: none;
  color: #85b0ff;
  transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}

section.preview div.part div.container .psd{
  margin: 10px 0 0;
  text-transform: lowercase;
}

section.preview div.part div.container a.in-progress img{
  opacity: 0.3;
  filter: alpha(opacity = 30);
}

section.preview div.part div.container a.in-progress{
  cursor: default;
}

section.preview div.part div.container a.in-progress:hover{
  color: #999999;
}

section.preview div.part div.container a.in-progress:hover img{
  box-shadow: 0px 0px 12px 1px #ccc;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 12px 1px #ccc;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 1px #ccc;
}

/*--------end preview styles-------*/