<head>
<meta charset="utf-8" />
<title>Foo site name</title>
<link type="text/css" rel="stylesheet" media="all" href="css/screen.css" />

<script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="js/jquery.once.js"></script>

<!--[if IE]>
  <link type="text/css" rel="stylesheet" media="all" href="css/ie.css" />
<![endif]-->

<!--[if lt IE 9]>
  <script type="text/javascript" src="js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src="js/main.js"></script>
</head>